
html, body {
    margin: 0;
    padding: 0;
}


header {
    
    
    align-items: center;
    text-align: center;
    background-color: burlywood;
    padding: 1em;
    border: 2px solid black;
    
}
#pantallaAuntenticacion{
    text-align: center;
    align-items: center;
    padding: 5%;
    position:relative;
    display: inline-block;
    width: 90%;

}

#botonGoogle{
    width: 20%;
    height: 3em;
    background-color: white;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
    border: solid medium;


}


#botonGitHub{
    width: 20%;
    height: 3em;
    background-color: darkgray;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border: solid medium;
    border-color: black;
    

}








body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    
}




#forma a{
    margin: 10px;
    padding: 10px;
    width: 100%; /* Ajustado al 100% para ocupar el ancho completo */
    background-color: #4CAF50;
    color: white;
    border: none;
    display:inline-block;
    text-align: center;
    text-decoration: none;
}

#forma {
    text-align: left;
    width: 50%;
    margin-right: 5%; /
}


footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
    background-color: lightgray;
    padding: 2%;
    border: solid black;
    margin-top: 2px;
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
    width: 95.5%; 
    text-align: center; 
}

    

