
html, body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: burlywood;
    padding: 1em;
    border: 2px solid black;
    position: relative;
}
header button:hover {
    background-color: rgb(239, 199, 121);
    border-radius: 10px;
}

#avatar {
    max-height: 2em;
    max-width: 2em; 
    margin-right: 10px;
}

#menu{
    font-size:2em;
    padding: 0%;
    margin: 0%;
    font-family: 'Times New Roman';
    text-decoration: none;
    color: black;
}

header button {
    background-color: transparent;
    border: none;
    padding: .5em;
}

header button img {
    max-height: 4em;
    max-width: 4em;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: lightgoldenrodyellow;
    
}
body div{
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
}
body div p{
    text-align: left;
    
    
}
body h1{
    text-align: center;
}
body h2{
    text-align: center;
}




a{
    padding: 1%;
}


footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: small;
    font-style: italic;
    background-color: lightgray;
    padding: 2%;
    border: solid black;
    margin-top: 2px;
    bottom: 0;
    margin-bottom: 0;
    position: relative;
    width: 95.5%; 
    text-align: center; 
}

